.main-weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
}

#wrc-container {
    height: 400px;
}

#text-container {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 0;
}

#wrc-container > span {
    color: #222F7D;
    font-size: 1.2em;
    font-weight: bolder;
    display: block;
    text-align: center;
    margin: 20px;
}

#img-box {
    width: 50%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
}

#img-box > img {
    width: 100px;
}

.weather-text {
    margin: 10px 20px;
    color: #222F7D;
    font-size: 0.8em;
}

#addr-text {
    font-size: 1.3em;
    color: #222F7D;
    margin: 10px 20px;
}

#t {
    font-size: 0.8em;
    margin-left: 40px;
    color: #222F7D;
}

#i {
    height: 30px;
    border-radius: 5px;
    border-color: #A8A8A8;
}

#b {
    height: 35px;
    background-color: #DDE3F1;
    border-radius: 5px;
    border-color: #A8A8A8;
}