body {
    width: 100%;
    height: 100%;
    background-color: #222F7D;
}

.main-container {
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    justify-content: center;
}

#temp-box {
    background-color: #ffffff;
    width: 90%;
    height: calc(100vh - 120px);
    border-radius: 15px;
}

.main-body {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.title-text-box {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text {
    color: #222F7D ;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
}

.accordion-box {
    height: auto;
    padding-bottom: 65px;
}

/* 반응형 */

/* 너비가 450 이상일 때 */
@media (min-width: 450px) {
    .mc1 {
        display: flex;
        justify-content: center;
    }

    .mc2 {
      width: 450px;
    }  
  } 
